@page
@model CourseManagement.Pages.Student.Register.IndexModel
@{
    var i = 1;
}
<h1>Register a subject</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th class="align-middle text-center">No</th>
        <th class="align-middle text-center">Subject's Name</th>
        <th class="align-middle text-center">Code</th>
        <th class="align-middle text-center">###</th>
    </tr>
    @foreach (var subject in Model.Subjects)
    {
        <tr>
            <td class="align-middle text-center">@i</td>
            <td class="align-middle text-center">@Html.DisplayFor(model => subject.SubjectName)</td>
            <td class="align-middle text-center">@Html.DisplayFor(model => subject.Code)</td>
            <td>

                <div class="d-grid text-center">
                    <form method="post">
                        <input type="submit" class="btn btn-danger" asp-page-handler="Register" asp-route-subjectId="@subject.Id" value="Register" onclick="return confirm('Are you sure you want to register this course?')" />
                    </form>
                </div>


            </td>
        </tr>
        i++;
    }
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
        </script>
    }


</table>